{% extends 'base.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
{% load static %}
    <div class="action">
      <div>
        <h2>Картка пацієнта</h2>
      </div>
      <div class="patient-card">
        <div>
          <div>
            <input type="text" placeholder="Прізвище">
            <input type="text" placeholder="Ім'я">
            <input type="text" placeholder="По батькові">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="Дата народження">
          </div>
          <div>
            <select name="" id=""><option value="value1">Значение 1</option>
              <option value="value2" selected>Значение 2</option>
              <option value="value3">Значение 3</option></select>
              <select name="" id=""><option value="value1">Значение 1</option>
                <option value="value2" selected>Значение 2</option>
                <option value="value3">Значение 3</option></select>
                <select name="" id=""><option value="value1">Значение 1</option>
                  <option value="value2" selected>Значение 2</option>
                  <option value="value3">Значение 3</option></select>
          </div>
        </div>
        <div>
          <fieldset class="gender">
            <legend>Стать</legend>
            <div>
              <label for="gender">М</label>
              <input type="checkbox" id="coding" name="interest" value="coding">

            </div>
            <div>
              <label for="gender">Ж</label>
              <input type="checkbox" id="music" name="interest" value="music">

            </div>
          </fieldset>
        </div>
      </div>

    </div>

    <table>
      <thead>
        <th>№</th>
        <th>Назва</th>
        <th>Номер</th>
        <th>Водій №1</th>
        <th>Водій №2</th>
        <th>Кілометраж</th>
        <th>Кількість виконаних рейсів</th>
        <th>Дата наступного тех огляду</th>
        <th>Дата останього тех огляду</th>
        <th>Нинішній рейс</th>
      </thead>
      <tbody>
        <tr>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
        </tr>
        <tr>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
        </tr>
        <tr>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
        </tr>
      </tbody>
    </table>
{% endblock %}