{% extends 'base.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
{% load static %}

<h2>Графік роботи</h2>
     <table>
       <thead>
         <th>№</th>
         <th>Пацієнт</th>
         <th>Статус</th>
         <th>Час прийому</th>

       </thead>
       <tbody>
         {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.id }}</td>
                <td><a href={% url 'card:index' schedule.patient_card.client.id %}>
                        {{ schedule.patient_card.client.fio }}
                </a></td>
                <td>{{ schedule.patient_card.status }}</td>
                <td>{{ schedule.date_birth }}</td>
        {% endfor %}
       </tbody>
     </table>
{% endblock %}