{% extends 'base.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
    {% load static %}
    <div class="action">
      <form action={% url 'patients:update' client.id %} method='POST'>
            {% csrf_token %}
            <div class="action">

                <div>
                    <h2>Картка пацієнта</h2>
                </div>
                <div class="patient-card">
                    <div>
                        <div>
                            <input type="text" value="{{ client.user.last_name }}" name="last_name" placeholder="Прізвище">
                            <input type="text" value="{{ client.user.first_name }}" name="first_name" placeholder="Ім'я">
                            <input type="text" value="{{ client.middle_name }}" name="middle_name" placeholder="По батькові">
                            <input type="text" value="{{ client.phone }}" name="phone" placeholder="Телефон">
                            <input type="date" value="{{ client.date_birth|date:"Y-m-d" }}" name="date_birth" placeholder="Дата народження">
                        </div>
                        <div>
                            <label for="">Тип протезування</label>
                            <select name="type" id="">
                                {% for type in types %}
                                    {% if type.id == client.patientcard.prosthesis.type.id %}
                                        <option selected value={{ type.id }}>{{ type.name }}</option>
                                    {% else %}
                                        <option value={{ type.id }}>{{ type.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="">Конструкція</label>
                            <select name="construction" id="">
                                {% for construction in constructions %}
                                    {% if construction.id == client.patientcard.prosthesis.construction.id %}
                                        <option selected value={{ construction.id }}>{{ construction.name }}</option>
                                    {% else %}
                                        <option value={{ construction.id }}>{{ construction.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="">Матеріал</label>
                            <select name="material" id="">
                                {% for material in materials %}
                                    {% if material.id == client.patientcard.prosthesis.material.id %}
                                        <option selected value={{ material.id }}>{{ material.name }}</option>
                                    {% else %}
                                        <option value={{ material.id }}>{{ material.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <fieldset class="gender">
                            <legend>Стать</legend>
                            <div>
                                <label for="gender" id="coding">М</label>
                                {% if 'М' == client.gender %}
                                    <input checked type="radio" id="coding" name="gender" value="М">
                                {% else %}
                                    <input type="radio" id="coding" name="gender" value="М"></option>
                                {% endif %}
                            </div>
                            <div>
                                <label for="gender" id="coding">Ж</label>
                                {% if 'Ж' == client.gender %}
                                    <input checked type="radio" id="coding" name="gender" value="Ж">
                                {% else %}
                                    <input type="radio" id="coding" name="gender" value="Ж"></option>
                                {% endif %}
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <button type="submit">Save</button>
        </form>
    <form action={% url 'stage3:update' client.id %} method='POST'>
    {% csrf_token %}
    <h2>Етап 3 - Обрання протезу та створення зліпку</h2>
    <div class="form">
        <div><label for="">Призначення курсу лікування</label><input type="text" name="course_treatment" value="{{ client.patientcard.prosthesis.stages_3.course_treatment }}"></div>
        <div><label for="">Остаточна постановка діагнозу</label><input type="text" name="diagnosis_fin" value="{{ client.patientcard.prosthesis.stages_3.diagnosis_fin }}"></div>
        <div><label for="">Якість створеного зліпку</label><input type="text" name="quality_cast" value="{{ client.patientcard.prosthesis.stages_3.quality_cast }}"></div>
        <div><label for="">Додатковий опис</label><input type="text" name="description" value="{{ client.patientcard.prosthesis.stages_3.description }}"></div>
        <div><label for="">Висновок</label><input type="text" name="conclusion" value="{{ client.patientcard.prosthesis.stages_3.conclusion }}"></div>
         <button type="submit">Save</button>
        <a href={% url 'stage4:index' client.id %}><button type="button">Next</button></a>
        <a href={% url 'stage3:print_info' client.id %}><button type="button">Print</button></a></div>
    </form>

{% endblock %}