{% extends 'base.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
{% load static %}
    <div class="action">
      <form action={% url 'patients:update' client.id %} method='POST'>
            {% csrf_token %}
            <div class="action">

                <div>
                    <h2>Картка пацієнта</h2>
                </div>
                <div class="patient-card">
                    <div>
                        <div>
                            <input type="text" value="{{ client.user.last_name }}" name="last_name" placeholder="Прізвище">
                            <input type="text" value="{{ client.user.first_name }}" name="first_name" placeholder="Ім'я">
                            <input type="text" value="{{ client.user.middle_name }}" name="middle_name" placeholder="По батькові">
                            <input type="text" value="{{ client.phone }}" name="phone" placeholder="Телефон">
                            <input type="date" value="{{ client.date_birth|date:"Y-m-d" }}" name="date_birth" placeholder="Дата народження">
                        </div>
                        <div>
                            <label for="">Тип протезування</label>
                            <select name="type" id="">
                                {% for type in types %}
                                    {% if type.id == client.patientcard.prosthesis.type.id %}
                                        <option selected value={{ type.id }}>{{ type.name }}</option>
                                    {% else %}
                                        <option value={{ type.id }}>{{ type.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="">Конструкція</label>
                            <select name="construction" id="">
                                {% for construction in constructions %}
                                    {% if construction.id == client.patientcard.prosthesis.construction.id %}
                                        <option selected value={{ construction.id }}>{{ construction.name }}</option>
                                    {% else %}
                                        <option value={{ construction.id }}>{{ construction.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <label for="">Матеріал</label>
                            <select name="material" id="">
                                {% for material in materials %}
                                    {% if material.id == client.patientcard.prosthesis.material.id %}
                                        <option selected value={{ material.id }}>{{ material.name }}</option>
                                    {% else %}
                                        <option value={{ material.id }}>{{ material.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div>
                        <fieldset class="gender">
                            <legend>Стать</legend>
                            <div>
                                <label for="gender" id="coding">М</label>
                                {% if 'М' == client.gender %}
                                    <input checked type="radio" id="coding" name="gender" value="М">
                                {% else %}
                                    <input type="radio" id="coding" name="gender" value="М"></option>
                                {% endif %}
                            </div>
                            <div>
                                <label for="gender" id="coding">Ж</label>
                                {% if 'Ж' == client.gender %}
                                    <input checked type="radio" id="coding" name="gender" value="Ж">
                                {% else %}
                                    <input type="radio" id="coding" name="gender" value="Ж"></option>
                                {% endif %}
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <button type="submit">Save</button>
        </form>
    <form action={% url 'stage1:update' client.id %} method='POST'>
    {% csrf_token %}
    <h2>Етап 1 - Первичний огляд та визначення плану</h2>
    <div class="form"><div><label for="">Скарги</label><input name="complaints" type="text" value="{{ client.patientcard.prosthesis.stages_1.complaints }}"></div>
    <div><label for="">Діагноз</label><input name="diagnosis" type="text" value="{{ client.patientcard.prosthesis.stages_1.diagnosis }}"></div>
    <div><label for="">Перенесені та супутні захворювання</label><input name="disease_current" type="text" value="{{ client.patientcard.prosthesis.stages_1.disease_current }}"></div>
    <div><label for="">Розвиток захворювання</label><input name="progress_disease" type="text" value="{{ client.patientcard.prosthesis.stages_1.progress_disease }}"></div>
    <div><label for="">Дані об'єктивного дослідження</label><input name="review" type="text" value="{{ client.patientcard.prosthesis.stages_1.review }}"></div>
    <div><label for="">Прикус</label><input name="bite" type="text" value="{{ client.patientcard.prosthesis.stages_1.bite }}"></div>
    <div><label for="">Колір за шкалою 'Віта'</label><input name="color" type="text" value="{{ client.patientcard.prosthesis.stages_1.color }}"></div>
    <div><label for="">Висновок</label><input name="conclusion" type="text" value="{{ client.patientcard.prosthesis.stages_1.conclusion }}"></div>
    <button type="submit">Save</button>
    <a href={% url 'stage2:index' client.id %}><button type="button">Next</button></a>
    <button>Print</button></div>
    </form>


{% endblock %}