{% extends 'base.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
{% load static %}
     <h2>Матеріали та комплектуючі</h2>
     <table>
       <thead>
         <th>№</th>
         <th>Шифр</th>
         <th>Найменування</th>
         <th>Виробник</th>
         <th>Якість</th>
         <th>Наявність</th>
         <th></th>
         <th><a href={% url 'materials:add'%}>Додати</a></th>
       </thead>
       <tbody>
         {% for material in materials %}
            <tr>
                <td>{{ material.id }}</td>
                <td>{{ material.code }}</td>
                <td>{{ material.name }}</td>
                <td>{{ material.producer }}</td>
                <td>{{ material.quality }}</td>
                <td>{{ material.availability }}</td>
                 <td><a href={% url 'materials:upd' material.id%}>Редагувати</a></td>
                 <td><a href={% url 'materials:delete' material.id%}>Видалити</a></td>
        {% endfor %}
       </tbody>
     </table>
{% endblock %}