{% extends 'base.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
{% load static %}
    <h2>Матеріалы и комплектующі</h2>
    <table>
      <thead>
        <th>№</th>
        <th>Шифр</th>
        <th>Наименование</th>
        <th>Виробник</th>
        <th>Якiсть</th>
        <th>Наявнiсть</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>414123</td>
          <td>Протез</td>
          <td>УкрНафтоЭнерго</td>
            <td>4</td>
          <td>так</td>
        </tr>
      </tbody>
    </table>
{% endblock %}