body {
    margin: 0;
}
label{
    font-family: 'Lobster Bold';
    font-size: 22px;
}
img.logo {
    width: 180px;
    height: 180px;
}
h2,h3{text-align:center}

button {
    margin-right: 10px;
    width: 100px;
    height: 50px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 8px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI Bold', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 16px;
}

input, select {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: cornflowerblue;
}

.nav-title {
    font-family: 'Lobster Bold';
    font-size: 52px;
    margin: auto;
}

header {
    background-color: cornflowerblue;
    grid-template-columns: 1fr 9fr;
    display: grid;
}

.nav-1 {
    height: 100px;
    grid-template-columns: 7fr 1fr;

    display: grid;
}

.nav-2 {
    grid-template-columns: 7fr 1fr;
    display: grid;

}

.nav-1 > div {
    display: flex;
    align-items: center;
}

.nav-2 > div {
    display: flex;
    margin: auto;
    align-items: center;
}

.main {
    display: grid;
}

.patient-card {
    grid-template-columns: 7fr 1fr;
    display: grid;
}

.right {
    margin-left: auto;
}

.nav-2 button {
    width: 100px;
    height: 75px;
    border-radius: 0px;
}

button.add-btn {
    width: 150px;
}

fieldset.gender {
    width: 3em;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.registration-cssave {
    margin: auto;
    align-items: center;

}

.registration-cssave form {
    display: grid;
    max-width: 800px;
    padding: 50px 70px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;

}
.registration-cssave .form-group button{
    width: 100%;
}

.registration-cssave form h3 {
    font-weight: bold;
    margin-bottom: 30px;
}

.form > div {
    display: grid;

    grid-template-columns: 2fr 5fr
}
table {
  display: table;
  width: 100% !important;
  table-layout: fixed !important;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0 !important;
  margin-bottom: 30px;
  line-height: 24px;
}

table caption {
  caption-side: top;
  color: #5f5f5f;
  text-align: center;
  font-weight: bold;
}

table tr {
  padding: 5px;
}

table tr:hover {
  background: lightskyblue;
  color: #fff;
}

table tr:hover a {
  color: #fff;
  border-bottom: 1px dashed #fff;
}

table th,
table td {
  padding: 10px;
  text-align: center;
}

table th {
  font-size: 14px;
  letter-spacing: 1px;
  color: whitesmoke;
  background-color: cornflowerblue;
  font-weight: bold;
  border: 0px !important;
}

table td {
  border-bottom: 1px solid #ededed !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  font-size: 14px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

table td.justify_text {
  text-align: justify;
}

table td.left_text {
  text-align: left;
}

table td.right_text {
  text-align: right;
}

table tr.subhead {
  background: #f1f7f7;
  font-weight: bold;
}

table tr.subhead:hover {
  background: cornflowerblue;
  color: #fff;
}

@media screen and (max-width: 800px) {
  table {
    border: 0 !important;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ededed !important;
  }
  table td {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ededed !important;
  }
  table td.justify_text {
    text-align: right;
  }
  table td.left_text {
    text-align: right;
  }
  table td:first-child {
    text-align: right;
  }
  table td.right_text {
    text-align: right;
  }
  table td:last-child {
    border-bottom: 0 !important;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
input[type=file] {
      opacity:0;

      cursor:pointer;
      padding:0px;
      margin:0px;
      border:none;
    }