{% extends 'base.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
    {% load static %}
    <div class="action">
      <div>
        <h2>Картка пацієнта</h2>
      </div>
      <div class="patient-card">
        <div>
          <div>
            <input type="text" placeholder="Прізвище">
            <input type="text" placeholder="Ім'я">
            <input type="text" placeholder="По батькові">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="Дата народження">
          </div>
          <div>
            <select name="" id=""><option value="value1">Значение 1</option>
              <option value="value2" selected>Значение 2</option>
              <option value="value3">Значение 3</option></select>
              <select name="" id=""><option value="value1">Значение 1</option>
                <option value="value2" selected>Значение 2</option>
                <option value="value3">Значение 3</option></select>
                <select name="" id=""><option value="value1">Значение 1</option>
                  <option value="value2" selected>Значение 2</option>
                  <option value="value3">Значение 3</option></select>
          </div>
        </div>
        <div>
          <fieldset class="gender">
            <legend>Стать</legend>
            <div>
              <label for="gender">М</label>
              <input type="checkbox" id="coding" name="interest" value="coding">

            </div>
            <div>
              <label for="gender">Ж</label>
              <input type="checkbox" id="music" name="interest" value="music">

            </div>
          </fieldset>
        </div>
      </div>

    </div>
    <h2>Етап 4 - Примірка та встановлення протезу</h2>
    <div class="form">
        <div><label for="">Якість сумістності протезу</label><input type="text"></div>
        <div><label for="">Виконані дії для підлаштування протезу</label><input type="text"></div>
        <div><label for="">Якість встановленого протезу</label><input type="text"></div>
        <div><label for="">Додаткові матеріали</label>
            <div>
                <select name="" id="">
                    <option value="-">-</option>
                    <option value="Матеріал 1">Матеріал 1</option>
                    <option value="Матеріал 2">Матеріал 2</option>
                    <option value="Матеріал 3">Матеріал 3</option>
                </select>
                <select name="" id="">
                    <option value="-">-</option>
                    <option value="Матеріал 1">Матеріал 1</option>
                    <option value="Матеріал 2">Матеріал 2</option>
                    <option value="Матеріал 3">Матеріал 3</option>
                </select>
                <select name="" id="">
                    <option value="-">-</option>
                    <option value="Матеріал 1">Матеріал 1</option>
                    <option value="Матеріал 2">Матеріал 2</option>
                    <option value="Матеріал 3">Матеріал 3</option>
                </select>
                <select name="" id="">
                    <option value="-">-</option>
                    <option value="Матеріал 1">Матеріал 1</option>
                    <option value="Матеріал 2">Матеріал 2</option>
                    <option value="Матеріал 3">Матеріал 3</option>
                </select></div>
        </div>
        <div><label for="">Висновок</label><input type="text"></div>
        <button>Save</button>
        <button>Next</button>
        <button>Print</button>
    </div>
    </div>
{% endblock %}