<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />
  <link rel="stylesheet" href="css/style.css" />
  <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
  <meta charset="UTF-8" />
  <title>Document</title>
</head>

<body>
  <header>

    <div><a class="" href="#">
        <img class="logo" src="img\logo.png" />
      </a></div>
    <div>
      <div class="nav-1">
        <div><span class="nav-title">Stomatology</span></div>
        <div><button class="nav-btn btn-right">Имя юзера</button></div>
      </div>
      <div class="nav-2">
        <div>
          <button class="nav-btn view">Контроль рейсів</button>
          <button class="nav-btn view">Рейси</button>
          <button class="nav-btn view">Автопарк</button>
          <button class="nav-btn view">Водії</button>
          <button class="nav-btn view">Маршрути</button>
          <button class="nav-btn view">Квитки</button>
          <button class="nav-btn view">Аналіз</button>
        </div>
        <div class="right">
          <button class="nav-btn btn-right">Вихід</button>
        </div>
      </div>
    </div>

  </header>
  <div class="main">

    <div class="action">
      <div>
        <h2>Картка пацієнта</h2>
      </div>
      <div class="patient-card">
        <div>
          <div>
            <input type="text" placeholder="Прізвище">
            <input type="text" placeholder="Ім'я">
            <input type="text" placeholder="По батькові">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="Дата народження">
          </div>
          <div>
            <select name="" id=""><option value="value1">Значение 1</option>
              <option value="value2" selected>Значение 2</option>
              <option value="value3">Значение 3</option></select>
              <select name="" id=""><option value="value1">Значение 1</option>
                <option value="value2" selected>Значение 2</option>
                <option value="value3">Значение 3</option></select>
                <select name="" id=""><option value="value1">Значение 1</option>
                  <option value="value2" selected>Значение 2</option>
                  <option value="value3">Значение 3</option></select>
          </div>
        </div>
        <div>
          <fieldset class="gender">
            <legend>Стать</legend>
            <div>
              <label for="gender">М</label>
              <input type="checkbox" id="coding" name="interest" value="coding">

            </div>
            <div>
              <label for="gender">Ж</label>
              <input type="checkbox" id="music" name="interest" value="music">

            </div>
          </fieldset>
        </div>
      </div>

    </div>

    <table>
      <thead>
        <th>№</th>
        <th>Назва</th>
        <th>Номер</th>
        <th>Водій №1</th>
        <th>Водій №2</th>
        <th>Кілометраж</th>
        <th>Кількість виконаних рейсів</th>
        <th>Дата наступного тех огляду</th>
        <th>Дата останього тех огляду</th>
        <th>Нинішній рейс</th>
      </thead>
      <tbody>
        <tr>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
        </tr>
        <tr>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
        </tr>
        <tr>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
        </tr>
      </tbody>
    </table>
    <div class="autobus">
      <div class="str">
        <div><button class="num big"></button></div>
        <div>
          <div><button class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button></div>
          <div><button class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button></div>
        </div>
      </div>
      <div class="str">
        <div><button class="num big"></button></div>
        <div>
          <div><button class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button></div>
          <div><button class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button><button class="num"></button><button
              class="num"></button><button class="num"></button></div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>