{% extends 'base.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
    {% load static %}
    <h2>Пацієнти</h2>
    <table>
        <thead>
        <th>№</th>
        <th>ПІБ</th>
        <th>Телефон</th>
        <th>Дата народження</th>
        <th>Тип протезу</th>
        <th>Етап 1</th>
        <th>Етап 2</th>
        <th>Етап 3</th>
        <th>Етап 4</th>
        <th>Перевірки</th>
        <th>Статус</th>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
            <td>{{ client.id }}</td>
            <td><a href={% url 'card:index' client.id %}>
                        {{ client.fio }}
                </a></td>
            <td>{{ client.phone }}</td>
            <td>{{ client.date_birth }}</td>
            <td>{{ client.patientcard.prosthesis.type.name }}</td>
            <td>
                <a href={% url 'stage1:index' client.id %}>
                    {% if client.patientcard.prosthesis.stages_1.date_record %}
                        {{ client.patientcard.prosthesis.stages_1.date_record }}
                    {% else %}
                        Перейти
                    {% endif %}
                </a></td>
            <td>
                <a href={% url 'stage2:index' client.id %}>
                    {% if client.patientcard.prosthesis.stages_2.date_record %}
                        {{ client.patientcard.prosthesis.stages_2.date_record }}
                    {% else %}
                        Перейти
                    {% endif %}
                </a>
            </td>
            <td>
                <a href={% url 'stage3:index' client.id %}>
                    {% if client.patientcard.prosthesis.stages_3.date_record %}
                        {{ client.patientcard.prosthesis.stages_3.date_record }}
                    {% else %}
                        Перейти
                    {% endif %}
                </a></td>
            <td>
                <a href={% url 'stage4:index' client.id %}>
                    {% if client.patientcard.prosthesis.stages_4.date_record %}
                        {{ client.patientcard.prosthesis.stages_4.date_record }}
                    {% else %}
                        Перейти
                    {% endif %}
                </a></td>
            <td>{{ client.patientcard.prosthesis.id }}</td>
            <td>{{ client.patientcard.status }}</td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}